---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
import Body from '../components/Body.astro'
import Content from '../components/Content.astro'
import Masterhead from '../components/Masterhead.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main>
      <Masterhead />
      <Content>
        <p>
        Bienvenue, sur le site de Mathieu Hourdin qui va parler de plein de choses différentes,
        notamment de comment sauver le monde, et s'amuser dans la vie, rien que ça.
        </p>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
