---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="my-5">
    <div class="flex flex-row-reverse gap-10 mt-3 mr-5">
        <div>Accueil</div>
        <div>Contact</div>
        <div>Laisser un commentaire</div>
    </div>
</header>
<style>
	h2 {
		margin: 0.5em 0;
	}
</style>
