---
export interface Props {
  progress?: number
}

const { progress = 0 } = Astro.props

const color = progress > 70 ? "bg-green-400" : "bg-orange-400";
---

<div class="gray-10 border-2 border-black m-2">
    <div class={`${color} h-8`} style={`width: ${progress}%`}></div>
</div>
