---
export interface Props {
  progress?: number
}

const { progress = 0 } = Astro.props

const color = (() => {
  if (progress > 70) return 'bg-green-400'
  if (progress > 50) return 'bg-orange-400'
  return 'bg-red-400'
})()
---

<div class="gray-10 border-2 border-grey m-2 w-1/3">
  <div class={`${color} h-2`} style={`width: ${progress}%`}></div>
</div>
